<!-- dans ce fichier vous être en train de travailler dans le fichier html dans la balise
<body>
</body>
-->
<style>
.container{
  margin: 0 auto;
  width: 960px;
}
section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

video{
  max-width: 100%;
}
</style>

<div class="container">
  <nav>
    Angular Jour 1
  </nav>
  <section>
    <div>
      <h2>Premier composant : créer composant à la main</h2>
      <premier></premier>
    </div>
    <div>
      <h2>Deuxième composant : exo</h2>
      <deuxieme></deuxieme>
    </div>
    <div>
      <h2>Troisième composant : créer composant via le terminal</h2>
      <p>vous avez une méthode plus rapide de créer des composants : directement depuis le terminal : 70% du boulot :</p>
      <ul>
        <li>créer le fichier .ts</li>
        <li>le déclarer dans le fichier app.module.ts</li>
      </ul>
      <p>Lancer un nouveau terminal dans le dossier jour1</p>
      <p><code>ng generate component troisieme</code></p>
      <troisieme></troisieme>
    </div>
    <div>
      <h2>Quatrième composant : exo</h2>
      <app-quatrieme></app-quatrieme>
    </div>

    <div>
      <h2>🍔 Cinquième composant : interpolation</h2>
      <p>créer un composant = ng generate component cinquieme</p>
      <app-cinquieme></app-cinquieme>
      <!-- ouvrir le fichier src/app/cinquieme/cinquieme.component.ts-->

    </div>
    <div>
      <h2>🍎 Sixième composant : exo</h2>
      <app-sixieme></app-sixieme>
    </div>
    <div>
      <h2>Septième composant : Directive *ngFor</h2>
      <p><code>ng generate component septieme</code></p>
      <app-septieme></app-septieme>
      <video playsinline="" autoplay="" muted="" loop="" src="https://storage.coverr.co/videos/coverr-a-tree-with-pink-branches-1580742370660?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6IjExNDMyN0NEOTRCMUFCMTFERTE3IiwiaWF0IjoxNTgyNzI4OTMwfQ.-5ceD4Eh0QiLcO1DzfOzAOsRMdLdkzfOIC8Qg7FVe10" poster="https://storage.coverr.co/posters/coverr-a-tree-with-pink-branches-1580742370660" class="ng-star-inserted"></video>
    </div>
    <div>
      <h2>🍋  Huitième composant : Service</h2>
      <p>si vous avez besoin de partager de données entre plusieurs composants : il va falloir créer un nouveau type de fichier Service</p>
      <ul>
        <li>créer un nouveau fichier à la main : Attention aux règles de nommage !!!!!!!!</li>
        <li>créer le fichier : src/app/data.service.ts</li>
        <li>ce fichier class avec une méthode getData()</li>
       <li>déclarer ce service dans le fichier src/app.module.ts 
          <ul>
            <li>importer </li>
            <li>ajouter la class dans provider </li>
          </ul>
       </li>
       <li>utiliser le données </li>
      </ul>
      <app-huitieme></app-huitieme>
    </div>
    <div>
      <h2>🦁 blog</h2>

      <!-- 
        1 créer mon composant via un terminal
        ng generate component blog
        2 ajouter dans la vue globale de la page
        3 créer le deux variable contenu et titre dans blog
        4 création du service src/app/data-blog.service.ts
        5 ajouter dans app.module
      -->
      <app-blog></app-blog>
    </div>
  </section>
</div>

